<div style="text-align:center">
<h1 style.color = '#1B5196' class="text-primary">Angular tutorial :Routing</h1><hr>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  
     <ul class = "nav nav-pills">
    <!-- using href th page will reload after each navigation-->
     <!--  <li><a href="/"> Home </a></li>
      <li><a href="/about"> About </a></li>
      <li><a href="/blog"> Blog </a></li> -->

      <!--using router link the page wont reload for each navigation-->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/"> Home </a></li>
      <li routerLinkActive="active"><a routerLink="/blog"> Blog </a></li>
      <li routerLinkActive="active"><a routerLink="/about"> About </a></li>
    </ul>
<div>
  <!-- <h1>place for the components</h1> -->
  <h1><router-outlet></router-outlet></h1>

  </div>


</div>